# ROS build folders
build/
install/
log/
devel/
build_isolated/
devel_isolated/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Ignore everything
*

# Allow folders needed
!src/
!src/xarm_task/
!src/xarm_perturbations/

# Allow files inside those folders
!src/xarm_task/**
!src/xarm_perturbations/**

# Allow README
!README.md